<html>
  <head>
    <link rel="stylesheet" type="text/css" href="employer_page.css">
  </head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <body>
    <div class="jumbotron">
      <h1 class="display-4"> Let’s make your next great hire. Fast.</h1>
      <p class="lead">Job Search helps more businesses make hires than any other online 
      recruiting tool.</p>
      <hr class="my-4">
      
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/job_upload" role="button">Post a job</a>
      </p>
    </div>
	</body>
    
</html>