<html>
    <head>
        <link rel="stylesheet" type="text/css" href="home.css">
    </head>

    <body>
        <form method="POST" action="/home">
            <div class="container">
                <hr>            
                    <label for="kehwords"><b>Keywords</b></label>
					<label for="location"><b>Location</b></label><br>
					<!-- <select name="major">
                        <option value="Any">Any</option>
                        <option value="Accounting">Accounting</option>
                        <option value="Biology">Biology</option>
                        <option value="Civil Engineering">Civil Engineering</option>
                        <option value="Computer Engineering">Computer Engineering</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Electrical Engineering">Electrical Engineering</option>
                        <option value="Math">Math</option>
                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                        <option value="Physics">Physics</option>				   
                    </select> -->

                    <input type="text" class="jobs" placeholder="Example: Software Engineer" name="keyword" value="{{keyword}}">


                    <input type="text" class="jobs" placeholder="Example: Texas, California" name="location" value="{{location}}">
					   
                    <button type="submit" class="findjobbtn" value="pressed" name="joblist_btn">Find Jobs</button>
            </div>
        </form>

        <div class="container">
            {{#if user}}
                {{#jobs}}
                    <div class="card">
                        <div class="card-header"><strong>{{company}}</strong></div>
                        <div class="card-body">
                            <p class="card-title">{{title}}</h5>
                            <p class="card-text">${{pay}}</p>
                            <p class="card-text">{{city}}, {{state}}</p>
                            <p class="card-text">{{description}}</p>
                            <form method="POST" action="/apply/{{id}}">
                                <button type="submit" value="pressed" class="btn btn-primary" name="apply_btn">Apply</button>
                            </form>
                            <br>
                            <form method="POST" action="/save/{{id}}">
                                <button type="submit" value="pressed" class="btn btn-primary" name="save_btn">Save For Later</button>
                            </form>
                        </div>
                    </div>   
                <br> 
                {{/jobs}}
            {{else}}
                <div class="container">
                    {{#jobs}}
                        <div class="card">
                            <div class="card-header"><strong>{{company}}</strong></div>
                            <div class="card-body">
                                <p class="card-title">{{title}}</h5>
                                <p class="card-text">${{pay}}</p>
                                <p class="card-text">{{city}}, {{state}}</p>
                                <p class="card-text">{{description}}</p>
                            </div>
                        </div>   
                        <br> 
                    {{/jobs}}
                </div>
            {{/if}}
        </div>

        <script src="http://code.jquery.com/jquery.min.js"></script>
        <script src="wish.js"></script>
    </body>
</html>
